
{%
  set classes = [
  'grid-item',
  'container',
  'card-item',
]
%}

<article{{ attributes.addClass(classes) }}>

  <div class="media-wrapper vertical-flow-small">
    {{ content.field_image }}
  </div>

  <div class="text-wrapper vertical-flow-small">

    <div class="inner-wrapper">

      <div class="heading-item-wrapper vertical-flow-x-small">
        <h3 class="h2">{{ paragraph.field_item_heading.value }}</h3>
      </div>

      <div class="text-item-wrapper vertical-flow-x-small">
        {{ content.field_text }}
      </div>

    </div>

  </div>

</article>
