// ==========================================================================
//   ICON HELPERS
// ==========================================================================

%icon-font {
  display: inline-block;
  position: relative;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  //text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  //zoom: 1;
}

@mixin icon(
  $iconContent,
  $iconSize: 16px,
  $iconBgSize: 30px,
  $iconColor: inherit,
  $iconBg: transparent,
  $iconHoverColor: inherit,
  $iconHoverBg: $action-color,
  $iconRadius: 0%,
  $iconBorder: none) {

  @extend %icon-font;

  width: $iconBgSize;
  height: $iconBgSize;
  line-height: $iconBgSize;
  color: $iconColor;
  background-color: $iconBg;
  border: $iconBorder;
  @include border-radius($iconRadius);
  &:before {
    display: block;
    position: absolute;
    font-family: $icomoon;
    content: $iconContent;
    font-size: $iconSize;
    text-align: center;
    color: inherit;
    width: inherit;
    height: inherit;
  }
  &:hover,
  &:focus {
    color: $iconHoverColor;
    background-color: $iconHoverBg;
  }
}

