// ==========================================================================
//   FLIPPY
// ==========================================================================

ul.flippy {
  @include font-size(14px);

  li {
    display: block;

    a {
      text-decoration: none;
    }

    &.flippy-previous {
      &:before {
        content: "< ";
      }
    }

    &.flippy-next {
      &:after {
        content: " >";
      }
    }
  }
}
