// ==========================================================================
//   FOOTER
// ==========================================================================

footer {
  color: $white;
  //padding-top: $gutter*5;
  //padding-bottom: $gutter*3.5;

  .footer-wrapper {

    .footer-first-wrapper,
    .footer-second-wrapper,
    .footer-third-wrapper {
      //width: 100%;
      max-width: 480px;
      margin: 0 auto;
    }

    #footer-first {
      .footer-first-wrapper {
        .copyright-info {
          margin-bottom: 20px;

          a {
            text-decoration: none;
            color: $white;
          }
        }
        .footer-link-wrapper {
          margin-top: 0;
          padding-left: 2px;
          padding-bottom: 3px;

          display: flex;
          align-items: center;

          .wolfpack-logo-wrapper {
            width: 40px;
          }
        }
      }
    }

    #footer-second {
      margin-top: $gutter*2;
    }

    #footer-third {
      margin-top: $gutter*2;

    }

    @include bp(small, up) {
      #footer-first {
        .footer-first-wrapper {
          display: flex;
          align-items: center;

          .copyright-info {
            margin-bottom: 0;
            padding-right: 10px;
          }

        }
      }
    }

    @include bp(large, up) {
      //padding-top: $gutter*4;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      #footer-second,
      #footer-third {
        margin-top: 0;
      }

      .footer-first-wrapper,
      .footer-second-wrapper,
      .footer-third-wrapper {
        max-width: none;
      }
    }

  }
}
