// ==========================================================================
//   SEARCH
// ==========================================================================

// Search Trigger Button & Icon
$search-trigger-size:       30px;
$icon-font-family:          $icomoon;
$icon-color:                $default-gray;
$icon-bgcolor:              transparent;
$icon-font-size:            20px;

// Sliding Search Box (positioning is handled in header.scss)
$responsiveBox-bgcolor:     $action-color;
$sliding-form-item-height:  40px;

// Search Input Text
$inputText-color:                       $white; // Input Text
$inputText-color-search-page:           $primary-color; // Input Text

// The search icon used for either a trigger to reveal the search box OR
// to activate the search when the search box is always visible
%search-icon { // Icon Trigger Configuration
  text-align: center;
  font-family: $icon-font-family;
  content: $icon-search;
  vertical-align: middle;
  text-decoration: none;
  cursor: pointer;
  font-size: $icon-font-size;
  @include border-radius(0);
  color: $white !important;
  background-color: transparent;
  border: 1px solid transparent;
  @include bp($desktop-nav, up) {
    font-size: $icon-font-size;
    color: $icon-color !important;
    background-color: $icon-bgcolor;
    border: 1px solid transparent;
  }
}

#search-trigger {
  height:$search-trigger-size;
  width: $search-trigger-size;
  button.search-button {
    overflow: hidden;
    border: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    z-index:2;
    outline: none !important;
    border-radius: 0;
    cursor: pointer;

    span.search-icon {
      height:$search-trigger-size;
      width: $search-trigger-size;
      &:after {
        z-index:1;
        @extend %search-icon;
        outline: none !important;
        position: absolute;
        display: block;
        box-sizing: border-box;
        top: 0;
        bottom: auto;
        left: 0;
        right: auto;
        overflow: visible;
        line-height: $search-trigger-size;
        height: $search-trigger-size;
        width: $search-trigger-size;
        &:hover {
          cursor: pointer;
        }
      }
    }

    &:hover {
      span.search-icon {
        &:after {
          cursor: pointer;
          color: $white !important;
          background-color: transparent;
          border: 1px solid transparent;
          @include bp($desktop-nav, up) {
            color: $action-color !important;
            background-color: transparent;
            border: 1px solid transparent;
            @include border-radius(0);
          }
        }
      }
    }

    &:focus {
      span.search-icon {
        &:after {
          color: $white;
          background-color: transparent;
          //border: 1px solid $black;
          border: $ice 1px dotted;
          @include bp($desktop-nav, up) {
            color: $action-color;
            background-color: transparent;
            //border: 1px solid $black;
            border: $base-focus-outline-color 1px dotted;
            @include border-radius(0);
          }
        }
      }
    }

    &[aria-expanded="true"] {
      background-color: $action-color;
      height: 55px; // this extends the bg to the search box
      width: 40px;
      margin-top: -5px;
      margin-left: -5px;

      span.search-icon {
        &:after {
          color: $white !important;
        }
      }

      &:hover,
      &:focus {
        background-color: $action-color;
        span.search-icon {
          &:after {
            color: $white !important;
          }
        }
      }

      &:focus {
        span.search-icon {
          &:after {
            border: $white 1px dotted;
          }
        }
      }
    }
  }
}


// Database search for general site search
// and when the search box is revealed by the search trigger for all displays
.bef-exposed-form.block-search,
.search-block-form {
  width: auto;
  .search-wrapper {
    .block-inner { // hide to start with 0 height
      position: relative;
      box-sizing: border-box;
      background-color: $responsiveBox-bgcolor;
      border: none;
      top: 0;
      z-index: 991;
      width: 100%;
      transform: scaleY(0);
      transform-origin: top;
      transition: all ease-in-out .2s;

      form {
        display: block;
        //border-bottom: 1px solid $white;
        padding: 0;
        margin: 0 auto;
        width: 100%;
        //max-width: 480px;
        text-align: right;

        .form--inline {
          width: 100%;

          .form-item {
            width: calc(100% - 55px); // minus height of sliding form item height
            max-width: none;
            margin-bottom: 0;

            .form-item-label {
              @include invisible;
            }

            input[type="text"] {
              width: 100%;
              max-width: 100%;
              font-family: $base-font-family;
              color: $inputText-color;
              @include font-weight(medium);
              @include font-size(18px);
              text-align: right;
              margin: 0;
              @include border-radius(0);
              -webkit-appearance: none;
              border: none;
              line-height: $sliding-form-item-height / 2;
              height: $sliding-form-item-height / 2;
              //padding: 0 10px;
              padding: 0;
              background: none;

              &:focus {
                outline: none;
              }

              @include placeholder($size: 18px, $color: $inputText-color);
            }

          }

          .form-actions {
            position: absolute;
            top: -8px;
            right: 5px;
            display: inline-block;
            margin-bottom: 0;

            .submit-button:not(.reset-button) {
              position: relative;
              left: auto;
              margin-top: 5px;
              margin-right: 2px;
              width: 35px;
              height: 30px;
              //line-height: 27px;

              &:before { // it has to go on the wrapper since it cannot go on the input element
                z-index:0;
                text-align: center;
                content: "GO";
                top: 0;
                left: 0;
                vertical-align: middle;
                text-decoration: none;
                cursor: pointer;
                color: $white;
                font-size: 15px;
                @include border-radius(0);
                position: absolute;
                display: block;
                box-sizing: border-box;
                overflow: visible;
                width: 35px;
                height: 30px;
                line-height: 28px; //visually align
              }

              input.form-submit {
                position: absolute;
                top: 0;
                left: 0;
                z-index: 10;
                cursor: pointer;
                display: block;
                box-sizing: border-box;
                padding: 0;
                overflow: hidden;
                text-indent: -9999px;
                outline: none !important;
                width: 35px;
                height: 30px;
                //line-height: 27px;
                border: 1px solid $white;
                background: transparent;

                &:hover,
                &:focus {
                  border: 2px solid $white;
                }
              }
            }
          }
        }
      }

      &.open { // class applied via jQuery if toggleClass is used
        padding: $gutter/2;
        transform: scaleY(1);
      }
    }
  }
}

// The search and submit elements placed directly on the search results page
.region-pre-content, // when using views and not Search API pages
.region-content, // when using views and not Search API pages
.block-system-main-block {
  form#views-exposed-form-database-search-page-1 { // when using views and not Search API pages
    position: relative;
    width: 100%;
    max-width: $content-small;
    margin: 0 auto;
    .form--inline {
      position: relative;
      padding: 0;
      //height: 62px; // form item height plus two pixels for borde;
    }
    .form-item--id-search-api-fulltext,
    .form-item--search,
    .form-item--search-api-autocomplete,
    .form-item {
      //width: calc(100% - 60px); // minus form item height
      width: 100%;
      max-width: none;
      margin-bottom: 0;
      .form-item-label {
        @include invisible;
      }
      input[type="text"] {
        max-width: 100%;
        width: 100%;
        font-family: $base-font-family;
        color: $inputText-color-search-page;
        @include font-weight(medium);
        @include font-size(18px);
        text-align: left;
        margin: 0;
        @include border-radius(0);
        -webkit-appearance: none;
        line-height: $form-item-height;
        height: $form-item-height;
        padding: 0 70px 0 10px;
        background: none;
        border: 1px solid $base-border-color;
        &:focus {
          outline: none;
          border: 2px solid $action-color;
        }
        @include placeholder($size: 18px);
      }
    }
    .form-actions {
      position: absolute;
      bottom: 0;
      right: 0;
      line-height: $form-item-height;
      height: $form-item-height;
      width: $form-item-height;
      .submit-button:not(.reset-button) {
        position: relative;
        left: auto;
        &:before { // it has to go on the wrapper since it cannot go on the input element
          z-index:0;
          text-align: center;
          font-family: $icomoon;
          content: $icon-search;
          vertical-align: middle;
          text-decoration: none;
          cursor: pointer;
          color: $primary-color;
          font-size: 20px;
          @include border-radius(0);
          position: absolute;
          display: block;
          box-sizing: border-box;
          overflow: visible;
          line-height: $form-item-height;
          height: $form-item-height;
          width: $form-item-height;
        }
        input.form-submit {

          position: relative;
          z-index: 10;
          cursor: pointer;
          display: block;
          box-sizing: border-box;
          border: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          text-indent: -9999px;
          outline: none !important;

          width: $form-item-height;
          height: $form-item-height;
          line-height: $form-item-height;
          background: transparent;
          &:hover,
          &:focus {
            outline: none;
            border: 2px solid $action-color;
          }
        }
      }
    }
  }
}

// extra gutter needed if search box for search results page is placed in pre-content region
.region-pre-content {
  form#views-exposed-form-database-search-page-1 {
    margin-top: $gutter*1.5;
  }
}

// Search API Database site search using views
body.section-search {
  #pre-content {
    margin: $gutter 0;
    @include clearfix;
    .region {
      @include center-block;
      max-width: $content-large;
    }
    .region-content {
      .database-site-search {
        .view-empty {
          text-align: left;
        }
      }
    }
  }
}

// Search API SOLR Search using Views to display the results
.view-pantheon-solr-content-search {
  .view-header {
    @include font-size(20px);
    @include font-weight(medium);
    margin-bottom: $gutter*2;
  }
}

.results-total {
  @include font-size(20px);
  @include font-weight(medium);
  margin-top: $gutter;
}

