// ==========================================================================
//   SYSTEM BRANDING BLOCK
// ==========================================================================

.logo {
  display: block;
  width: 100%;
  max-width: $logo-mx-mobile;
  //outline-offset: 2px; // to improve keyboard accessibility
  &:focus {
    @include focus-outline(); // to improve keyboard accessibility
  }
  img {
    width:100%;// Required to make height of SVGs responsive in IE.
    border: 1px solid $white;
  }
  @include bp($desktop-nav, up) {
    width: $logo-mx-tablet;
    max-width: $logo-mx-tablet;
  }
  @include bp(wide-menu, up) {
    width: $logo-mx-desktop;
    max-width: $logo-mx-desktop;
  }
}
.site-branding-text {
  display: none;
  .site-branding-name {}
  .site-branding-slogan {}
}
