//// =============================================================================
////   SLICK CAROUSELS & SLIDESHOWS
//// =============================================================================
//

$size: 40px;
$border-size: 1px;
// line-height needs to take border into account for vertical centering
$line-height: calc(#{$size} - #{$border-size});

.slick-arrow {
  width: $size;
  height: $size;
  z-index: 1; //keeps both arrows above slides
  &:before {
    position: absolute;
    top: $border-size;
    left: 0;
    width: $size;
    height: $size;
    //line-height: $line-height;
    line-height: 32px;
    text-align: center;
    font-family: $icomoon;
    //content: $icon-arrow-right;
    content: ">>";
    font-size: $size*.5;
    //font-weight: bold;
    @include font-weight(normal);
    color: $white;
    border: $border-size solid $white;
    //@include border-radius(50%);
    background-color: $black;
    opacity: 1;
  }
  &:hover {
    &:before {
      background-color: $primary-color;
    }
  }
  &:focus {
    @include focus-outline($color: $white);
  }
  &.slick-next {
    right: $gutter;
    &:before {}
  }
  &.slick-prev {
    left: $gutter;
    &:before {
      transform: scale(-1, 1); //flips the default right arrow horizontally
    }
  }
  &.slick-disabled {
    &:before {
      // uncomment if going for totally hidden disabled arrow
      opacity: 0;
      border: none !important;
    }
  }
}

.controls {
  width: $size;
  height: $size;
  z-index: 1; //keeps both arrows above slides
  text-indent: -9999px;
  overflow: hidden;
  background: transparent;
  border: 0;

  &:before {
    text-indent: 0;
    position: absolute;
    top: $border-size;
    left: 0;
    width: $size;
    height: $size;
    line-height: $line-height;
    text-align: center;
    font-family: $icomoon;
    font-size: $size*.5;
    font-weight: bold;
    color: $white;
    border: $border-size solid $white;
    //@include border-radius(50%);
    background-color: $action-color;
  }
  &:hover {
    &:before {
      background-color: $primary-color;
    }
  }
  &:focus {
    @include focus-outline($color: $white);
  }
}

.slick-list {
  line-height: 0; // odd space after slider

  > * {
    line-height: normal;
  }
}

.highlight-carousel-wrapper {
  display: none; // hide on mobile

  @include bp(medium, up) { // 768 is when 3 slides are visible
    display: block;
    position: relative;

    &:before {
      position: absolute;
      left: 0;
      right: 0;
      top: 35%;
      height: 30%;
      content: "";
      background-color: $ice;
      z-index: -1;
    }

    .slick-list {
      padding: 30px 0 !important; // to allow vertical overflow of taller center slides
    }

    .slick-slide {
      .slide-wrapper {
        position: relative;
        max-width: 100%;
        opacity: .45;
        filter: grayscale(1);
        transform: scale(.75);
        transition: transform 0.5s;

        &:before {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          right: 0;
          content:"";
          background-color: $white;
          filter: grayscale(0);
          z-index: -1;
        }

        .slide-text-wrapper {
          opacity: 0;
        }
      }
      &.slick-center {
        .slide-wrapper {
          margin: 0 20px;
          opacity: 1;
          filter: grayscale(0);
          transform: scale(1.25);

          .slide-text-wrapper {
            opacity: 1;
          }
        }
      }
    }

    .slick-arrow {
      &.slick-next {
        right: 7%;
      }
      &.slick-prev {
        left: 7%;
      }
    }
  }

  @include bp(x-large, up) {
    //.slick-arrow {
    //  &.slick-next {
    //    right: 0;
    //  }
    //  &.slick-prev {
    //    left: 0;
    //  }
    //}
  }

}


// There may be something useful in the old code below so keep it here but commented out for now

////************************************
//// CAROUSEL CUSTOMIZATIONS & OVERRIDES
////************************************

//.component--type-gallery-carousel {
//  .slick-slider {
//    .slick-list {
//      margin: 0;
//    }
//    .slick-slide {
//      position: relative;
//      vertical-align: middle;
//      padding: 0 3.5em;
//    }
//
//    .slick-prev {
//      top: calc(50% - 15px);
//      left: $gutter/2;
//      z-index: 1;
//      @include bp(large, up) {
//        top: calc(50% - 20px);
//        left: $gutter;
//        width: $carouselButtonSizeLarge;
//        height: $carouselButtonSizeLarge;
//        line-height: $carouselButtonSizeLarge;
//        &:before {
//          width: $carouselButtonSizeLarge;
//          height: $carouselButtonSizeLarge;
//          line-height: $carouselButtonSizeLarge;
//        }
//      }
//    }
//    .slick-next {
//      top: calc(50% - 15px);
//      right: $gutter/2;
//      z-index: 1;
//      @include bp(large, up) {
//        top: calc(50% - 20px);
//        right: $gutter;
//        width: $carouselButtonSizeLarge;
//        height: $carouselButtonSizeLarge;
//        line-height: $carouselButtonSizeLarge;
//        &:before {
//          width: $carouselButtonSizeLarge;
//          height: $carouselButtonSizeLarge;
//          line-height: $carouselButtonSizeLarge;
//        }
//      }
//    }
//  }
//  &.fouc { // class applied on view
//    visibility: hidden;
//  }
//}

//.component--type-gallery-slider {
//  .slick-slider {
//    //margin: 0 $gutter; // place gutters on containers?
//    margin: 0;
//    .slick-list {
//      margin: 0;
//    }
//    .slick-slide {
//      position: relative;
//      vertical-align: middle;
//      padding: $gutter/2;
//    }
//
//    //.slick-prev {
//    //  top: calc(50% - 15px);
//    //  left: -($gutter/2);
//    //  z-index: 1;
//    //  &:before {
//    //    border: 2px solid $white;
//    //  }
//    //  @include bp(large, up) {
//    //    top: calc(50% - 20px);
//    //    //left: $gutter;
//    //    //width: $carouselButtonSizeLarge;
//    //    //height: $carouselButtonSizeLarge;
//    //    //line-height: $carouselButtonSizeLarge;
//    //    &:before {
//    //      //width: $carouselButtonSizeLarge;
//    //      //height: $carouselButtonSizeLarge;
//    //      //line-height: $carouselButtonSizeLarge;
//    //    }
//    //  }
//    //}
//    //.slick-next {
//    //  top: calc(50% - 15px);
//    //  right: -($gutter/2);
//    //  z-index: 1;
//    //  &:before {
//    //    border: 2px solid $white;
//    //  }
//    //  @include bp(large, up) {
//    //    top: calc(50% - 20px);
//    //    //right: $gutter;
//    //    //width: $carouselButtonSizeLarge;
//    //    //height: $carouselButtonSizeLarge;
//    //    //line-height: $carouselButtonSizeLarge;
//    //    &:before {
//    //      //width: $carouselButtonSizeLarge;
//    //      //height: $carouselButtonSizeLarge;
//    //      //line-height: $carouselButtonSizeLarge;
//    //    }
//    //  }
//    //}
//    //.slick-disabled {
//    //  &:before {
//    //    // uncomment if going for totally hidden disabled arrow
//    //    //border: none !important;
//    //  }
//    //}
//  }
//}

//.component--type-card-deck {
//  .slick-slider {
//    margin: 0 $gutter*2;
//    .slick-list {
//      margin: 0;
//      padding: 0 5px; // horizontal padding needed to see the vertical borders on cards
//      .slick-track {
//        display: flex;
//      }
//    }
//    .slick-slide {
//      position: relative;
//      vertical-align: middle;
//      padding: 10px;
//    }
//
//    .slick-prev {
//      top: calc(50% - 15px);
//      left: -($gutter/2);
//      z-index: 1;
//      &:before {
//        border: 2px solid $white;
//      }
//      @include bp(large, up) {
//        top: calc(50% - 20px);
//        left: -($gutter/2);
//        &:before {}
//      }
//    }
//    .slick-next {
//      top: calc(50% - 15px);
//      right: -($gutter/2);
//      z-index: 1;
//      &:before {
//        border: 2px solid $white;
//      }
//      @include bp(large, up) {
//        top: calc(50% - 20px);
//        right: -($gutter/2);
//        &:before {}
//      }
//    }
//    .slick-disabled {
//      &:before {
//        // uncomment if going for totally hidden disabled arrow
//        //border: none !important;
//      }
//    }
//  }
//  &.fouc { // class applied on view
//    visibility: hidden;
//  }
//}

/************************************
*   Pause/Play buttons
************************************/

/* Pause Control */

.slick-slider .controls-wrapper {
  //position: absolute;
  //bottom: 40px;
  //right: 20px;
  //width: 100px;
  //z-index: 1;
  //display: none;

  position: absolute;
  bottom: auto;
  right: auto;
  width: 100%;
  z-index: 1;
  aspect-ratio: 16/9;

  .controls-position {
    position: absolute;
    width: 100%;
    bottom: 40px;
    right: 20px;
  }
  @include bp(large, up) {
    //display: block;
  }

  button {
    position: absolute;
    top: 0;
    cursor: pointer;

    &:focus {
      outline: none;
      &:before {
        @include focus-outline($color: $white, $offset: -5px);
        background-color: $primary-color;
      }
    }

    &:before {
      top: 0;
      border: 1px $white solid;
    }

    &.slick-prev {
      right: 58px; // subtract border line of two buttons
      left: auto;
    }

    &.controls {
      top: -15px;
      right: 29px; // subtract border line
      left: auto;
    }

    &.slick-next {
      right: 0;
      left: auto;
    }
  }

}

.slick-slider button.controls {

  &.pause-slick {
    &:before {
      content: $icon-pause;
      left: auto;
      right: 0;
    }
  }
  &.play-slick {
    &:before {
      content: $icon-play;
      left: auto;
      right: 0;
    }
  }

}


.homepage-slides {
  .controls-wrapper {
    position: absolute;
    bottom: auto;
    right: auto;
    width: 100%;
    z-index: 1;
    aspect-ratio: 5/2;

    .controls-position {
      position: absolute;
      width: 100%;
      bottom: 40px;
      right: 20px;
    }

    // because there are links on the slides, we need to position the controls
    // in a different way so they don't make the links unclickable
    @include bp(large, up) {
      display: block;
      bottom: 40px;
      right: 20px;
      aspect-ratio: revert;

      .controls-position {
        position: relative;
        bottom: 0;
        right: auto;
      }
    }
  }
}
