// ==========================================================================
//   FEATURED VIDEO
// ==========================================================================

.video-teaser-small-wrapper {
  //padding: $gutter 0;
  //background: $white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  z-index: 5; // because of aspect ratio code for controls

  .video-thumbnail {
    max-width: 480px;
    position: relative;

    .video-button-wrapper {
      position: absolute;
      top: calc(50% - 18px);
      left: calc(50% - 18px);

      .video-play-button {
        position: relative;
        background: transparent;
        border: none;
        cursor: pointer;

        display: inline-block;
        -webkit-transition: color 250ms cubic-bezier(0.82, 0.06, 0.14, 0.97);
        transition: color 250ms cubic-bezier(0.82, 0.06, 0.14, 0.97);

        // set the width/height to match that of the icon (set in the mixin if not overwritten below)
        width: 36px;
        height: 36px;

        .icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 36px;
          height: 36px;
          @include icon($icon-play, $iconSize: 22px, $iconBgSize: 36px, $iconBg: $action-color, $iconColor: $white, $iconHoverBg: $primary-color, $iconHoverColor: $white, $iconRadius: 50%);
          &:before {
            left: 2px;
          }
        }

        &:focus {
          @include focus-outline();

          &:before {
            background: $primary-color;
          }
        }
      }
    }

  }

  .video-text-wrapper {
    padding-top: $gutter;

    a {
      @include font-weight(bold);
    }
  }
}
