// ==========================================================================
//   FEATURED VIDEO
// ==========================================================================

.video-teaser-small-wrapper {
  //padding: $gutter 0;
  //background: $white;
  //display: flex;
  //flex-direction: column;
  //align-items: flex-start;
  z-index: 5; // because of aspect ratio code for controls

  .video-wrapper {
    display: flex;
    align-items: flex-start;
  }

  .video-link {
    position: relative;

    .video-button-wrapper {
      //position: absolute;
      //top: calc(50% - 18px);
      //left: calc(50% - 18px);

      height: 20px;
      width: 20px;
      margin-right: 5px;
      position: relative;

      .video-play-button {
        position: absolute;
        top: 1px;
        left: 0;
        background: transparent;
        border: none;
        cursor: pointer;

        display: inline-block;
        -webkit-transition: color 250ms cubic-bezier(0.82, 0.06, 0.14, 0.97);
        transition: color 250ms cubic-bezier(0.82, 0.06, 0.14, 0.97);

        // set the width/height to match that of the icon (set in the mixin if not overwritten below)
        width: 20px;
        height: 20px;

        .icon {
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          @include icon($icon-play, $iconSize: 10px, $iconBgSize: 20px, $iconBg: $action-color, $iconColor: $white, $iconHoverBg: $primary-color, $iconHoverColor: $white, $iconRadius: 50%);
          &:before {
            left: 1px;
          }
        }

        &:focus {
          @include focus-outline();

          &:before {
            background: $primary-color;
          }
        }
      }
    }

  }

  .video-text-wrapper {
    a {
      @include font-weight(bold);
    }
  }

  .video-description {
    margin-left: 25px; // visually match the play button and title text
  }
}
