// ==========================================================================
//   PARAGRAPHS - Gallery Slider
// ==========================================================================

.component--type-gallery-slider {

  // uncomment below to add background color behind slider
  //background-color: $base-border-color;
  //padding: $gutter*2 0;

  .component-wrapper {}

  .component-content {
    a {
      display: inline-block;
      //padding: 5px;
      &:focus {
        //border: 1px solid $black;
        @include focus-outline();
      }
    }

    // if there are not enough images to turn into a slider, we need to create a horizontal or grid layout
    .gallery-wrapper:not(.slick-slider) {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -($gutter/2); // go edge-to-edge for slides with horizontal margins
      .gallery-item {
        padding: $gutter/2;
        box-sizing: border-box;
        width: 50%;
      }
      @include bp(x-small, up) {
        .gallery-item {
          //width: calc(480px / 2);
        }
      }
      @include bp(small, up) {
        justify-content: center;
        .gallery-item {
          width: 25%;
        }
      }
      @include bp(medium, up) {
        .gallery-item {
          //width: calc(768px / 4);
        }
      }
      @include bp(large, up) {
        .gallery-item {
          width: calc(992px / 4);
        }
      }
      @include bp(x-large, up) {
        .gallery-item {
          width: calc(1200px / 4);
        }
      }
    }

    // when it turns into a slider
    .gallery-wrapper.slick-slider {
      margin: 0 -($gutter/2); // go edge-to-edge for slides with horizontal margins
      .slick-list {
        margin: 0;
      }
      .slick-slide {
        position: relative;
        vertical-align: middle;
        padding: 0;
        margin: 0 $gutter/2;

        .gallery-item {
          width: 100%;
        }
      }
    }
  }
}
