// ==========================================================================
//   PARAGRAPHS - Image Gallery
// ==========================================================================

.component--type-image-gallery {
  .component-content {

    //padding-bottom: $gutter !important;

    .heading-wrapper {
      text-align: center;
    }

    .images-wrapper {
      position: relative;

      .grid-item {
        outline: 1px solid transparent;
        outline-offset: 4px;
        transition: 0.5s all ease-in-out;

        &:hover {
          outline: 1px solid $dark-gray;
          outline-offset: 8px;
        }
      }

      .media--view-mode-gallery {
        overflow: hidden;

        img {
          cursor: pointer;
          max-width: none;
          width: 100%; // let it grow to fill container for all breakpoints
          transition: 0.5s all ease-in-out;
        }

        &:hover {
          img {
            transform: scale(1.15);
          }

        }
      }

      //.media--view-mode-gallery a {
      //  position: relative;
      //  &:before {
      //    position:absolute;
      //    bottom: 0;
      //    right: 0;
      //    width: 28px;
      //    height: 28px;
      //    line-height: 28px;
      //    font-family: $icomoon;
      //    content: $icon-expand;
      //    font-size: 18px;
      //    text-align: center;
      //    cursor: pointer;
      //    color: $primary-color;
      //    background: $white;
      //    z-index: 1;
      //  }
      //
      //  &:hover,
      //  &:focus {
      //    &:before {
      //      color: $base-font-color;
      //    }
      //  }
      //}

    }
  }

}
