// ==========================================================================
//   BLOG POST Content type
// ==========================================================================

.node-type-blog-post {

  header {
    padding: $gutter*.75 0;
    background: $black;
    border-top: 1px solid $medium-gray;

    a:not(.home-link) {
      @include font-size(16px);
      @include font-weight(normal);
      color: rgba(255, 255, 255, .8);
      text-decoration: none;
      display: flex;
      align-items: center;

      &:before {
        display: inline-block;
        //font-family: $icomoon;
        //content:$icon-arrow-right;
        content: ">";
        font-weight: bold;
        transform: rotate(180deg);
        color: $black;
        //font-size: 10px;
        font-size: 20px;
        height: 20px;
        line-height: 20px;
        width: 20px;
        text-align: center;
        background: rgba(255, 255, 255, 1); // was .8
        border-radius: 50%;
        //margin-right: 5px;
        margin-right: 10px;
      }

      &:hover,
      &:focus,
      &:active {
        color: rgba(255, 255, 255, 1);
        text-decoration: none;

        &:before {
          background: rgba(255, 255, 255, 1);
        }
      }
    }
    a.home-link {
      position: absolute;
      top: auto;
      bottom: -45px;
      right: 0;
      @include font-size(16px);
      @include font-weight(normal);
      //color: rgba(255, 255, 255, .8);
      color: $black;
      text-decoration: none;
      display: block;

      &:hover,
      &:focus,
      &:active {
        //color: rgba(255, 255, 255, 1);
        color: $black;
        text-decoration: none;
      }

      @include bp(medium, up) {
        color: rgba(255, 255, 255, .8);
        top: 0;
        bottom: auto;

        &:hover,
        &:focus,
        &:active {
          color: rgba(255, 255, 255, 1);
          text-decoration: none;
        }
      }
    }


  }

}

.node--type-blog-post {
  // default view mode styles
  margin-top: 40px;
  @include bp(medium, up) {
    margin-top: 0;
  }

  .banner {
    .image-wrapper {
      .caption-wrapper {
        display: block;
        padding: $gutter/2 0 0 0;
        margin: 0;
        color: $black;
        @include font-size(12px);

        @include bp(small, up) {
          //width: 75%;
          //max-width: 75%;
        }

        @include bp(large, up) {
          padding: $gutter/2 0 0 0;
          //width: 60%;
          //max-width: 60%;
        }
      }
    }
    .text-wrapper {
      //background: $medium-gray;
      padding-top: $gutter;


      .blog-title-wrapper {
        padding-bottom: $gutter/2;
      }

      h1 {
        color: $black;
        @include font-size(35px);
        @include font-weight(normal);
        line-height: 1.1;
      }

      .blog-date-wrapper {
        padding-top: $gutter/2;
        color: $black;
        @include font-size(16px);
        @include font-weight(regular);

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: calc(100%);
          border-top: 1px solid $medium-gray;
          content: "";
        }
      }
    }

    @include bp(small, up) {
      display: flex;
      flex-direction: row;

      .image-wrapper {
        width: 50%;
      }
      .text-wrapper {
        width: 50%;
        display: flex;
        align-items: center;
        padding: 0 0 0 $gutter;

        .blog-title-wrapper {
          margin-top: $gutter/2;
          padding-right: $gutter;
          border-right: 1px solid $medium-gray;
        }

        h1 {
          @include font-size(30px);
        }

        .blog-date-wrapper {

          &:before {
            left: -$gutter;
            width: calc(100% + 20px);
          }

        }

      }
    }

    @include bp(medium, up) {
      align-items: center;

      .text-wrapper {
        padding: 0 0 0 $gutter*2;

        h1 {
          @include font-size(40px);
        }

        .blog-date-wrapper {

          &:before {
            left: - $gutter*2;
            width: calc(100% + 40px);
          }
        }
      }

    }

    @include bp(large, up) {
      .text-wrapper {
        padding-left: $gutter*2;

        .blog-title-wrapper {
          padding-right: $gutter*2;
          padding-bottom: $gutter;
        }

        h1 {
          @include font-size(50px);
        }

        .blog-date-wrapper {
          padding-top: $gutter;
          @include font-size(16px);

          &:before {
            left: -$gutter*2;
            width: calc(100% + 40px);
          }
        }
      }
    }

    @include bp(content-large, up) {
      .text-wrapper {
        h1 {
          @include font-size(55px);
        }

        .blog-date-wrapper {
          padding-top: $gutter;
          position: relative;

          &:before {
            position: absolute;
            top: 0;
            left: - $gutter*2;
            width: calc(100% + 40px);
            border-top: 1px solid $medium-gray;
            content: "";
          }
        }
      }
    }

    @include bp(page-max, up) {
      .text-wrapper {
        .inner-wrapper {
          padding: $gutter*2 0;
        }
      }
    }
  }

  .component {
    & + .component {
      margin-top: 0;
    }
  }

  .bg__white {
    .component-wrapper {
      padding-bottom: $gutter*2;

      @include bp(large, up) {
        padding-bottom: $gutter*3;
      }
    }
  }

  .gsap-pinned-background {
    & + .bg__white {
      .component-wrapper {
        padding-top: $gutter*2;

        @include bp(large, up) {
          padding-top: $gutter*3;
        }
      }
    }
  }

  .component--type-image-gallery { //override this
    .component-wrapper {
      padding-bottom: $gutter; // already some padding there

      @include bp(large, up) {
        padding-bottom: $gutter; // already some padding there
      }
    }
  }

  .paging-wrapper {
    border-top: 1px solid #ccc;
    padding-top: $gutter*2;
  }

  .blog-landing-link-wrapper {
    text-align: center;
    a {
      display: inline-block;
      margin: 0 auto;
    }
  }

  &.node--view-mode-full {}
  &.node--view-mode-teaser {
    .col-a { // image wrapper
      //border: 1px solid rgba(0,0,0,.1);
    }

    .jquery-link {
      cursor: pointer;
    }

    h2.teaser-title {
      color: $black;
      @include font-size(28px);
      @include font-weight(semibold);
      text-transform: none;

      a {
        color: $black;
        @include font-weight(semibold);
        text-decoration: none;

        &:hover,
        &:focus,
        &:active {
          color: $primary-color;
          text-decoration: none;
        }
      }

      @include bp(large, up) {
        @include font-size(36px);
      }
    }

    .blog-date-wrapper {
      color: $black;
      @include font-size(20px);
      @include font-weight(regular);

      @include bp(large, up) {
        //@include font-size(24px);
      }
    }

    @include two-tiles($left: 55%, $right: 45%);

    @include bp(small, up) {
      .tiles {
        align-items: center;
      }
    }

  }
  &.node--view-mode-teaser-small {}
  &.node--view-mode-card {}
  &.node--view-mode-featured {}
}
