// ==========================================================================
//   BLOG LANDING PAGE Content type
// ==========================================================================

.node-type-blog-landing-page {

  header {
    height: 20px;
    background: $black;
    border-top: 1px solid $medium-gray;
  }

}

// view modes
.node--type-blog-landing-page {
  // default view mode styles

  .hero-wrapper {
    position: relative;
    height: 45vh;

    .hero-image {
      position: relative;
      z-index: 0;
      height: 45vh;

      &:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        content:"";
        //background: transparent linear-gradient(180deg, #000000EA 0%, #00000000 39%, #00000000 53%, #606060D1 74%, #757575 100%) 0% 0% no-repeat padding-box;

        background: linear-gradient(180deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0) 50%, rgba(0,0,0,0.5) 100%);
        //mix-blend-mode: multiply;
      }

      .media {
        height: 45vh;

        .field {
          height: 45vh;

          img {
            object-fit: cover;
          }
        }
      }

    }

    .hero-text {
      position: absolute;
      left: 0;
      right: 0;
      bottom: 0;

      .text-wrapper {
        margin-bottom: $gutter*2;

        h1 {
          color: $white;
          @include font-size(45px);
          line-height: 1.1;
          @include font-weight(regular);
          text-shadow: 0px 4px 8px rgba(0,0,0,0.5);
        }

        .blog-author {
          color: $white;
          @include font-weight(light);

          a {
            color: $white;
            @include font-weight(light);
            text-decoration: none;
          }
        }
      }


      @include bp(small, up) {
        .text-wrapper {
          h1 {
            color: $white;
            max-width: 640px;
            @include font-size(50px);
          }
        }
      }

      @include bp(large, up) {
        .text-wrapper {
          h1 {
            max-width: 800px;
            @include font-size(65px);
          }
        }
      }


      @include bp(content-large, up) {
        .text-wrapper {
          h1 {
            @include font-size(88px);
          }
        }

      }

    }

    .hero-links {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;

      .links-wrapper {
        margin-top: $gutter;
        text-align: right;

        a {
          & + a {
            margin-left: $gutter/2;
          }
        }
      }

    }

    // release the object-fit hero image and filling the height of the viewport
    @include bp(small, up) {
      height: auto;

      .hero-image {
        height: auto;

        .media {
          height: auto;

          .field {
            height: auto;

            img {
              object-fit: none;
            }
          }
        }
      }
    }
  }

  .intro-wrapper {
    display: flex;
    flex-direction: column;

    .image-wrapper {
      max-width: 240px;
      margin: 0 auto $gutter auto;
    }

    @include bp(small, up) {
      flex-direction: row;

      .image-wrapper {
        margin: 0;
        width: 30%;
        max-width: none;
      }

      .text-wrapper {
        width: 70%;
        padding-left: $gutter;
      }
    }

    @include bp(content-small, up) {
      .text-wrapper {
        padding-left: $gutter*2;
      }
    }

    @include bp(content-large, up) {
      .text-wrapper {
        padding-left: $gutter*3;
      }
    }
  }

  &.node--view-mode-full {}
  &.node--view-mode-teaser {}
  &.node--view-mode-teaser-small {}
  &.node--view-mode-card {}
  &.node--view-mode-featured {}
}
