// ==========================================================================
//   SLIDE Content type
// ==========================================================================

.node--type-slide {
  .slide-wrapper {
    position: relative;

    .slide-title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: $gutter/2;
      text-align: center;
      color: $white;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
      @include font-weight(bold);
    }

    .slide-text-wrapper {
      padding: $gutter $gutter/2 $gutter/2 $gutter/2;
      color: $white;
      background-color: $black;
      text-align: center;
      min-height: 110px;

      @include bp(medium, up) {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding: $gutter/2;
        background-color: rgba(0,0,0,.6);
        min-height: auto;
      }

      .slide-video-link {
        > div:not(:first-of-type) {
          display: none;
        }

      }

    }
  }
}
