// ==========================================================================
//   SLIDE Content type
// ==========================================================================

.node--type-slide {
  .slide-wrapper {
    position: relative;

    .slide-title {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      padding: $gutter/2;
      text-align: center;
      color: $white;
      text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
      @include font-weight(bold);
    }

    .slide-text-wrapper {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: $gutter/2;
      color: $white;
      background-color: rgba(0,0,0,.6);
      text-align: center;

      .slide-video-link {
        > div:not(:first-of-type) {
          display: none;
        }

      }

    }
  }
}
