// ==========================================================================
//   NODES
//   1. All nodes
//   2. Import the partials for individual content types
// ==========================================================================

.node-type-blog-landing-page,
.node-type-blog-post {
  font-family: $poppins;
  @include font-size(18px);

  h1, .h1,
  h2, .h2,
  h3, .h3,
  p {
    font-family: $poppins;
  }

  p {
    @include font-weight(light);
    line-height: 1.5em;
  }

  .tabcontent-item-wrapper,
  .rte,
  .field--type-text-with-summary,
  .field--type-text-long {
    a[href]:not([class]) { // target plain text links without any kind of class
      @extend %blog-links-rte;
    }
  }

  h2, .h2,
  h3, .h3 {
    margin-top: 1.5em; // This will vary based on font size
    margin-bottom: rem($vertical-spacing); // Same bottom gutter as most elements
    text-rendering: optimizeLegibility;
    hyphens: none;

    &:first-child {
      margin-top: 0;
    }
    &:last-child {
      margin-bottom: 0;
    }

    & + ol,
    & + ul {
      margin-top: $vertical-spacing;
    }

  }

  h2,
  .h2 {
    font-family: $poppins;
    @include font-size(26px);
    color: $black;
    @include font-weight(regular);
    text-transform: none;
    @include bp(content-large, up) {
      @include font-size(40px);
    }
  }

  h3,
  .h3 {
    font-family: $poppins;
    @include font-size(22px);
    color: $black;
    @include font-weight(regular);
    text-transform: none;
    @include bp(content-large, up) {
      @include font-size(30px);
    }
  }

  .tabcontent-item-wrapper,
  .rte,
  .field--type-text-with-summary,
  .field--type-text-long,
  .field--type-text {
    ul, ol {
      > li {
        @include font-weight(light);
        margin-bottom: 1em;

        &:before {
          color: $black !important;
        }
      }
    }
  }

  footer {
    position: relative;
    background-color: $black;
    z-index: 99999;

    .footer-first-wrapper {
      max-width: none !important;
      color: rgba(255, 255, 255, .8);
      @include font-size(16px);
      @include font-weight(light);
    }
  }

  .button-link-outline-hero {
    position: relative;
    display: inline-block;
    padding: 10px;
    @include font-size(14px);
    @include font-weight(normal);
    @include tracking(.72);
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: $black;
    background: rgba(255,255,255,.35);
    border: 1px solid $black;
    @include border-radius(0px);
    &:hover,
    &:active,
    &:focus {
      color: $black !important;
      background: rgba(255,255,255,1);
      border: 1px solid $black;
      border-radius: inherit;
    }
  }

  .button-link-solid {
    position: relative;
    display: inline-block;
    padding: 10px;
    @include font-size(14px);
    @include font-weight(normal);
    @include tracking(.72);
    line-height: 16px;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
    background: $dark-gray;
    border: none;
    @include border-radius(0px);
    &:hover,
    &:active,
    &:focus {
      color: $white !important;
      background: $primary-color;
      //background: darken($dark-gray, 15%);
      border: none;
      border-radius: inherit;
    }
  }

  .button-link {
    @extend %button-link;
  }

  .social-men-wrapper-blogs {
    display: flex;
    justify-items: flex-start;

    ul.menu {
      line-height: 1;
      //margin: 0 auto;

      li {
        margin: 0 7px 0 0;
        //margin: 0;

        a {
          display: inline-block;
          -webkit-transition: color 250ms cubic-bezier(0.82, 0.06, 0.14, 0.97);
          transition: color 250ms cubic-bezier(0.82, 0.06, 0.14, 0.97);

          // set the width/height to match that of the icon (set in the mixin if not overwritten below)
          width: 24px;
          height: 24px;
          //border: 1px solid $white;

          &.youtube .icon {
            @include icon($icon-youtube, $iconSize: 16px, $iconBgSize: 24px, $iconBg: $medium-gray, $iconColor: $black, $iconHoverBg: $white, $iconHoverColor: $black, $iconRadius: 50%);
            &:hover {
              background-color: rgba(255,255,255,1);
            }
          }

          &.linkedin .icon {
            @include icon($icon-linkedin, $iconSize: 16px, $iconBgSize: 24px, $iconBg: $medium-gray, $iconColor: $black, $iconHoverBg: $white, $iconHoverColor: $black, $iconRadius: 50%);
            &:hover {
              background-color: rgba(255,255,255,1);
            }
          }

          &.instagram .icon {
            @include icon($icon-instagram, $iconSize: 16px, $iconBgSize: 24px, $iconBg: $medium-gray, $iconColor: $black, $iconHoverBg: $white, $iconHoverColor: $black, $iconRadius: 50%);
            &:hover {
              background-color: rgba(255,255,255,1);
            }
          }

          &:focus {
            @include focus-outline($color: $white);

            //.icon {
            //  background-color: $white;
            //  color: $primary-color;
            //}
          }

        }
      }
    }
  }

}
//  1. All nodes
//  ==========================================================================



//  2. Import the partials of individual content types
//  ==========================================================================

@import "content-types/page";
@import "content-types/slide";
@import "content-types/resume";
@import "content-types/webform";
@import "content-types/homepage";
@import "content-types/blog_landing_page";
@import "content-types/blog_post";
