$base-font-size: 16px;

// ==========================================================================
//   VARIABLES
//   Global settings for the entire site. (Or variables that should be accessible from anywhere)
//   * General
//   * Typography
//   * Borders
//   * Colors
//   * Tables
//   * Forms
//   * Header Elements (mainly size and position of logo & main nav)
//   * Sidebars (just how wide should they be and when should they start floating?)
//   * Extras (misc)
// ==========================================================================



//  * General
//  ==========================================================================

$gutter: 20px; // Used mostly for horizontal padding/margin. Intentionally px based.
$vertical-spacing: $base-font-size; // Used as the default spacing below most items such as paragraphs, lists, etc.
$desktop-nav: tablet-menu; // When the nav switches from mobile to main. Resolves to named breakpoint from _breakpoint.scss.
$page-max: 1425px; // used for contained layouts
$content-large: 1200px; // used to prevent content from getting too wide
$content-small: 800px; // used to prevent text from getting too long

//  * Typography
//  ==========================================================================
$base-font-family: $raleway; // variable defined in _fonts.scss
$heading-font-family: $raleway; // variable defined in _fonts.scss
$numbers-font-family: $base-font-family;
$monospace-font-family: 'Lucida Console', 'Liberation Mono', 'Courier New', monospace, sans-serif;

// Heading size
$h1-font-size: 50px;
$h1-font-size-tablet: $h1-font-size * .85;
$h1-font-size-mobile: $h1-font-size * .65;
$h2-font-size: 48px;
$h2-font-size-mobile: $h2-font-size * .85;
$h3-font-size: 36px;
$h3-font-size-mobile: $base-font-size;
$h4-font-size: 18px;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.2;

// Letter spacing
$base-letter-spacing: 0;
$heading-letter-spacing: .5px;


//  * Borders
//  ==========================================================================
// Base Border
$base-border-color: $default-gray;
$base-border: 1px solid $base-border-color;
$base-border-radius: 0;
$base-focus-outline-color: $charcoal;

//  * Colors
//  ==========================================================================
// Branding Colors
$primary-color:  $indigo;
$secondary-color: $pink;
$action-color: $indigo;

// Font Colors
$base-font-color: $charcoal;
$light-font-color: $ice;
$link-color: $action-color;
$link-color-hover: $green;
$link-color-visited: $action-color;

// Layout Background Colors
$base-background-color: $white;
$header-background-color: $primary-color;
$main-background-color: $white;
$footer-background-color: $ice;
$callout-background-color: $base-border-color; // used for "callout" block style

// Admin Message Colors
$status-color: $light-green;
$warning-color: $mustard;
$error-color: $tomato;

// Admin Tabs Colors
$tab-background: $action-color;
$tab-background-active: darken($action-color, 5%);
$tab-text: $white;

//  * Tables
//  ==========================================================================
// All tables
$table-cell-font-size: $base-font-size * .8;
$dt-table-border-width: 0 0 0 0;
$dt-table-border-style: solid;
$dt-table-border-color: $base-border-color;
$dt-table-cell-border-width: 0 0 1px 0;
//$dt-table-cell-border-width: 0 0 0 0;
$dt-table-cell-border-style: solid;
$dt-table-cell-border-color: $base-border-color;
$dt-th-color: $white;
$dt-th-background-color: $primary-color;
$dt-tr-odd-background-color: $ice; //for striping

//  * Forms
//  ==========================================================================
$form-item-height: 42px;
$vertical-spacing-forms: $vertical-spacing; // Used as the default spacing below form elements.

//  * Header Elements
//  ==========================================================================
$logo-mx-mobile: 180px;
$logo-mx-tablet: 200px;
$logo-mx-desktop: 200px;

$mobile-header-height: 90px; // useful for positioning menu/search triggers
$mobile-trigger-height: 40px;
$tablet-header-height: 145px;
$desktop-header-height: 125px;

//  * Sidebars
//  ==========================================================================
// Floating sidebars
$sidebar: medium; // One sidebar exists and when it should start floating. Resolves to named breakpoint from _breakpoint.scss.
$both-sidebars: large; // Both sidebars exists and when they should start floating. Resolves to named breakpoint from _breakpoint.scss.

// Both sidebars exist. These values should add up to 100
$both-sidebars-content-width: 50%;
$both-sidebars-first-width: 20%;
$both-sidebars-second-width: 30%;

// First sidebar only. These values should add up to 100
$first-sidebar-content-width: 70%;
$first-sidebar-width: 30%;

// Second sidebar only. These values should add up to 100
$second-sidebar-content-width: 65%;
$second-sidebar-width: 35%;


//  * Extras
//  ==========================================================================
