
<div{{ attributes.addClass(
  'layout-container'
) }}>

  <!-- HEADER -->
  <header>
    <div id="site-header" class="container">
      <div class="content-large container padded-row">
        <a href="/rwanda"><span>Robotics & STEM Outreach in Rwanda</span></a>
      </div>

    </div><!-- /#site-header -->

  </header>

  <!-- MAIN PAGE CONTENT -->
  <main id="main-content" tabindex="-1">


    <!-- PRIMARY-CONTENT -->
    <div id="primary-content">
      <div class="container">

        <div id="content">

          {{ page.content }}

        </div><!-- /#content -->
      </div><!-- /.container -->
    </div><!-- /#primary-content -->

  </main>

  <!-- FOOTER -->
  <footer>
    <div class="footer-wrapper container padded-row content-large">

      <div id="footer-first">
        <div class="footer-first-wrapper">
          <div class="copyright-info">Owen T. S. Cooper | &#169; {{ "now"|date('Y') }} All rights reserved.</div>
        </div>
      </div><!-- /#footer-first -->

    </div><!-- /.container -->
  </footer>

</div><!-- /.layout-container -->
