// ==========================================================================
//   MEDIA
//   Images, Videos, Captions, etc.
// ==========================================================================

picture,
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  margin: 0;
  padding: 0;
}

// alignment styles
div.media, //wrapper when no caption
figure, //wrapper when caption is enabled
article {
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  &.embedded-entity {
    margin: 0 0 rem($vertical-spacing) 0;
  }
  &.align-left {
    float: none;
    margin-bottom: $vertical-spacing;
    @include bp(small, up) {
      float: left;
      margin: $gutter/2 $gutter*1.5 $vertical-spacing 0;
      max-width: 35%;
    }
    @include bp(medium, up) {
      .field--name-field-media-image,
      figcaption {
        margin-left: -$gutter*1.5;
      }
    }
    @include bp(large, up) {
      .field--name-field-media-image,
      figcaption {
        margin-left: -$gutter*2;
      }
    }
  }
  &.align-right {
    float: none;
    margin-bottom: $vertical-spacing;
    @include bp(small, up) {
      margin: $gutter/2 0 $vertical-spacing $gutter*1.5;
      float: right;
      max-width: 35%;
    }
    @include bp(medium, up) {
      .field--name-field-media-image,
      figcaption {
        margin-right: -$gutter*1.5;
      }
    }
    @include bp(large, up) {
      .field--name-field-media-image,
      figcaption {
        margin-right: -$gutter*2;
      }
    }
  }
  &.align-center {
    margin-bottom: $vertical-spacing;
    figcaption {
      margin: $gutter/2 0 $vertical-spacing 0;
    }
    @include bp(small, up) {
      display: flex;
      flex-direction: column;
      figcaption {
        align-self: flex-end;
        width: 50%;
        max-width: $content-large / 2;
      }
    }
  }
}

figure {
  margin: 0 0 rem($vertical-spacing);
  figcaption {
    @extend %caption;
  }
}

caption {
  margin-bottom: rem($vertical-spacing / 2);
}

.field--type-image {
  a {
    &:focus {
      @include focus-outline($offset: 5px); // hard to see without an offset
    }
  }
}

// embedded video with oembed video

.media {
  .field--name-field-media-video-file,
  .field--name-field-media-oembed-video {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

    /* Then style the iframe to fit in the container div with full height and width */
    video,
    .media-oembed-content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
    }
  }
}

.media {
  position: relative;

  /* fade image in after load */
  .lazyload,
  .lazyloading {
    opacity: 0;
  }
  .lazyloaded {
    opacity: 1;
    transition: opacity 300ms;
  }

  // Broken image symbol
  //img.lazyload:not([src]) {
  //  visibility: hidden;
  //}

}

// aspect ratios for media view modes (img and srcset approach to responsive images)
.media--view-mode-square {
  //@include fluid-aspect-ratio(1 1);
}

.media--view-mode-landscape-full-width-16x9,
.media--view-mode-landscape-contained-16x9 {
  //@include fluid-aspect-ratio(16 9);
}

.media--view-mode-landscape-full-width-4x3,
.media--view-mode-landscape-contained-4x3 {
  //@include fluid-aspect-ratio(4 3);
}

// aspect ratios - custom per project

.media--view-mode-banner {
  .field--name-field-media-image {
    @include fluid-aspect-ratio(1400 660);
  }
}

.media--view-mode-slide {
  //@include fluid-aspect-ratio(5 2);
}

.default-landscape-teaser,
.media--view-mode-landscape-teaser {
  //@include fluid-aspect-ratio(16 9);
}

.media--view-mode-image-component {
  //@include fluid-aspect-ratio(3 2);
}

// for video embeds via iframes added manually in the RTE

.video-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 56.25%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */

  /* Then style the iframe to fit in the container div with full height and width */
  .responsive-iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
  }
}
