// ==========================================================================
//   TYPOGRAPHICAL STYLES
//   1. HTML elements
//   2. Styles applied in the RTE and other admin edit forms (views, field formatters, etc).
// ==========================================================================


/* 1. HTML elements
   ========================================================================== */
html {
  font-family: $base-font-family;
  box-sizing: border-box;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

body {
  color: $base-font-color;
  background: $base-background-color;
  font-family: $base-font-family;
  @include font-size($base-font-size);
  @include font-weight(normal);
  line-height: $base-line-height;
  letter-spacing: $base-letter-spacing;
  overflow-x: hidden;
}

p {
  margin: 0 0 rem($vertical-spacing);

  &:last-child {
    margin-bottom: 0;
  }
}

a[href] {
  color: $link-color;
  @include font-weight(normal);
  text-decoration: underline;

  &:hover,
  &:focus,
  &:active {
    color: $link-color-hover;
  }

  &:focus {
    @include focus-outline();
  }
}
.tabcontent-item-wrapper,
.rte,
.field--type-text-with-summary,
.field--type-text-long {
  a[href]:not([class]) { // target plain text links without any kind of class
    //color: $white;
    //background-color: $link-color;
    background-color: $ice;
    color: $primary-color;
    @include font-weight(bold);
    //text-decoration: underline;
    text-decoration: none;
    display: inline-block;
    padding: 2px 5px;

    &:hover,
    &:focus,
    &:active {
      //color: $white;
      //background-color: $link-color;
      //background-color: $secondary-color;
      //color: $white;
      color: $secondary-color;
    }

    &:focus {
      @include focus-outline();
    }
  }
}

strong {
  @include font-weight(bold);
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font-family;
  line-height: $heading-line-height;
  color: inherit;
  margin-top: 1.75em; // This will vary based on font size
  margin-bottom: rem($vertical-spacing); // Same bottom gutter as most elements
  text-rendering: optimizeLegibility;
  hyphens: none;
  @include font-weight(semibold);
  &:first-child {
    margin-top: 0;
  }
  &:last-child {
    margin-bottom: 0;
  }
  a[href] {
    color: $action-color;
    font-weight: inherit;
    text-decoration: underline;
    &:hover,
    &:focus,
    &:active {
      color: $link-color-hover;
    }
  }
}

h1,
.h1 {
  font-family: $raleway;
  @include font-size($h1-font-size-mobile);
  color: $primary-color;
  @include font-weight(light);
  text-transform: uppercase;
  letter-spacing: 4px;
  margin-bottom: 0;
  @include bp($desktop-nav, up) {
    @include font-size($h1-font-size);
  }
}

h2,
.h2 {
  font-family: $raleway;
  @include font-size($h2-font-size-mobile);
  color: $primary-color;
  @include font-weight(thin);
  text-transform: uppercase;
  @include bp($desktop-nav, up) {
    @include font-size($h2-font-size);
  }
}

h3,
.h3 {
  @include font-size($h3-font-size-mobile);
  @include font-weight(bold);
  text-transform: none;
  color: $base-font-color;
  margin-top: rem($vertical-spacing);
  @include bp($desktop-nav, up) {
    @include font-size($h3-font-size);
  }
}

h4,
.h4 {
  @include font-size($h4-font-size);
  @include font-weight(bold);
  margin-top: rem($vertical-spacing);
  margin-bottom: 0;
  @include bp($desktop-nav, up) {
    @include font-size($h4-font-size);
  }
}

pre {
  background-color: none;
  display: block;
  border: $base-border;
  white-space: pre-wrap;
  font-family: $monospace-font-family;
  margin: 0 0 rem($vertical-spacing);
}

/* 2. Styles applied via the RTE
   ========================================================================== */

// Not currently being used
//.intro {
//  font-family: $base-font-family;
//  @include font-size(18px);
//  @include font-weight(bold);
//}

.citation {
  @extend %citation;
}

.caption {
  //margin: rem($vertical-spacing / 2) 0;
  //@include font-size(12px);
  //line-height: 18px;
  //font-style: italic;
  //color: $base-font-color;
  @extend %caption;
}

a[href].fancy-button {
  @extend %fancy-button;
}

div.more-link { // keep on same line as trimmed text
  display: inline-block;
  text-align: left;
  a {
    text-transform: uppercase;
    color: inherit;
  }
}
