@import "0-config/__config";

// Messages.
.messages {
  position: relative;
  padding: 9px;
  margin: $gutter 0;
  color: darken($ice, 30%);
  text-align: center;
  background-color: $ice;
  border: 1px solid darken($ice, 10%);
  word-wrap: break-word;
  box-shadow: none !important;
  pre {
    border: 0;
  }
}
.messages--warning {
  color: darken($error-color, 15%);
  background-color: $warning-color;
  border-color: darken($warning-color, 10%);
  pre {
    background-color: darken($warning-color, 10%);
  }
}
.messages--error {
  color: white;
  background-color: $error-color;
  border-color: darken($error-color, 10%);
  pre {
    background-color: darken($error-color, 10%);
  }
}

.messages--status {
  color: $base-font-color;
  background-color: $ice;
  border: solid darken($ice, 10%);;
  border-width: 1px 0 1px 0;
  text-align: center;
  a {
    color: $action-color;
    &:hover {
      color: $base-font-color;
    }
  }
  pre {
    background-color: transparent;
  }
}
