// ==========================================================================
//   COLORS
// ==========================================================================

// Color palette specific to this site

$pink: #c1486a;
$green: #53944d;
$indigo: #3d54af;
$gold: #e0a109;

// Always available
$black:          #000000; // darkest
$charcoal:       #15212C;
$default-gray:           #D9DEE2;

$ice:            #f2f2f2;
$white:          #ffffff; // lightest

// Admin colors (matches Gin settings)
$action-admin-color: #0A51E6;

// Message colors
$light-green:    #8dbe51;
$mustard:        #ddc44f;
$tomato:         #cd4533;
