// ==========================================================================
//   Base Icons
// ==========================================================================

$icon-plus:             '\e913'; // From $icomoon font
$icon-minus:            '\e90e'; // From $icomoon font
$icon-arrow-right:      '\e902'; // From $icomoon font
$icon-arrow-tail:       '\e901';
$icon-arrow-double:     '\e900';
$icon-arrow-down:       '\e91b'; // From $icomoon font
$icon-triangle-right:   '\e91e'; // From $icomoon font
$icon-quotes-left:      '\e915'; // From $icomoon font
$icon-quotes-right:     '\e916'; // From $icomoon font
$icon-close:            '\e907'; // From $icomoon font
$icon-expand:            '\e909';
$icon-circle:           '\e906'; // From $icomoon font
$icon-square:           '\e903'; // From $icomoon font
$icon-bullet:           $icon-square;
$icon-dot:              $icon-circle;
$icon-play:      '\e912';
$icon-pause:      '\e90f';

// ==========================================================================
//   Form Element Icons
// ==========================================================================

$icon-radio-on:         '\e918'; // From $icomoon font
$icon-radio-off:        '\e917'; // From $icomoon font
$icon-checkbox-on:      '\e905'; // From $icomoon font
$icon-checkbox-off:	    '\e904'; // From $icomoon font
$icon-select:           $icon-arrow-down; // custom select menu currently creates the arrow with border styles.

// ==========================================================================
//   Search/Menu Icons
// ==========================================================================
$icon-search:           '\e91a'; // From $icomoon font
$icon-subnav:           $icon-arrow-right;
$icon-mobile-subnav:           $icon-arrow-right;
$icon-mobile-subnav-expanded:  $icon-arrow-down; // default rotates $icon-mobile-subnav for transition effects

// ==========================================================================
//   Accordions
// ==========================================================================
$icon-accordion-open:   $icon-plus;
$icon-accordion-close:  $icon-minus;

// ==========================================================================
//   Social Media & Share Links
// ==========================================================================

$icon-facebook:       '\e90a'; // From $icomoon font
$icon-twitter:        '\e91f'; // From $icomoon font
$icon-instagram:      '\e90b'; // From $icomoon font
$icon-youtube:        '\e921'; // From $icomoon font
$icon-vimeo:          '\e920'; // From $icomoon font
$icon-linkedin:       '\e90c'; // From $icomoon font
$icon-pinterest:      '\e911'; // From $icomoon font
$icon-snapchat:       '\e91c';
$icon-tiktok:         '\e91d';
$icon-rss:            '\e919';

$icon-print:          '\e914'; // From $icomoon font
$icon-email:          '\e908'; // From $icomoon font
$icon-website:        '\e922';
$icon-phone:          '\e910';

// ==========================================================================
//   MISC
// ==========================================================================

$icon-calendar:          '\e923';
$icon-document:          '\e924';
$icon-home:              '\e925';
$icon-external-website:   '\e926';
