
{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'vertical-flow',
  ]
%}

  {% for item in items %}
    <div{{ item.attributes.addClass(classes) }}>{{ item.content }}</div>
  {% endfor %}
