// Breadcrumb styles

.breadcrumb {
  ol,
  ul {
    margin-left: 0;
    padding-left: 0;
    margin-bottom: 0;
    line-height: 1.2;
  }
  li {
    list-style-type: none;
    display: inline;
    padding-bottom: 0;
    margin-bottom: 0;
    @include font-size(16px);
    @include font-weight(normal);
    color: $default-gray;
    a[href] {
      @include font-weight(semibold);
      color: $default-gray;
      text-decoration: underline;

      &:hover,
      &:focus {
        color: $action-color;
      }
    }
    &:after {
      display: inline-block;
      padding-left: .25em;
      padding-right: .25em;
      content: "/";
      font-size: .8em;
    }
    &:first-of-type { //home link
      a {
        display: inline-block;
        position: relative;
        text-decoration: none;
        text-align: left;
        text-indent: -9999px;
        width: 18px;
        height: 18px;
        line-height: 18px;

        &:before {
          position: absolute;
          bottom: 1px;
          left: 0;
          display: block;
          font-family: $icomoon;
          color: $default-gray;
          content: $icon-home;
          text-align: center;
          text-indent: 0;
          width: 18px;
          height: 18px;
          line-height: 18px;
          font-size: 16px;
        }

        &:hover,
        &:focus {
          &:before {
            color: $action-color;
          }
        }

        &:focus {
          &:before {
            //@include focus-outline();
          }
        }

      }
    }
    &:last-of-type {
      &:after {
        display: none;
      }
    }
  }
}


// Do not show these breadcrumbs on nodes if they are .
// being added via a custom DS field instead.
.page-node {
  .block-system-breadcrumb-block {
    // If the breadcrumb block is being hidden on /node/* in the Block UI,
    // uncomment the following line to hide the block with css too.
    //display: none;
  }
}
