// This is not a Drupal generated menu but instead a manually created one

.social-men-wrapper {
  display: flex;
  justify-items: flex-start;

  ul.menu {
    line-height: 1;
    //margin: 0 auto;

    li {
      margin: 0 5px 0 0;
      //margin: 0;

      a {
        display: inline-block;
        -webkit-transition: color 250ms cubic-bezier(0.82, 0.06, 0.14, 0.97);
        transition: color 250ms cubic-bezier(0.82, 0.06, 0.14, 0.97);

        // set the width/height to match that of the icon (set in the mixin if not overwritten below)
        width: 32px;
        height: 32px;
        border: 1px solid $white;

        &.youtube .icon {
          @include icon($icon-youtube, $iconSize: 20px, $iconBgSize: 30px, $iconBg: $white, $iconColor: $primary-color, $iconHoverBg: $white, $iconHoverColor: $primary-color, $iconRadius: 0);
          &:hover {
            background-color: rgba(255,255,255,.75);
          }
        }

        &.linkedin .icon {
          @include icon($icon-linkedin, $iconSize: 20px, $iconBgSize: 30px, $iconBg: $white, $iconColor: $primary-color, $iconHoverBg: $white, $iconHoverColor: $primary-color, $iconRadius: 0);
          &:hover {
            background-color: rgba(255,255,255,.75);
          }
        }

        &:focus {
          @include focus-outline($color: $white);

          .icon {
            background-color: $white;
            color: $primary-color;
          }
        }

      }
    }
  }
}
