// ==========================================================================
//   FOOTER
// ==========================================================================

footer {
  @include clearfix;
  width: 100%;
  padding: $gutter*2 0;
  background-color: $primary-color;

  .container {
    @include center-block;

    #footer-first,
    #footer-second,
    #footer-third {}

    #footer-first {}

    #footer-second {}

    #footer-third {}

  }
}

// Add padding to bottom when logged in to make space for local task tabs
body.user-logged-in {
  footer {
    padding-bottom: $gutter*5;
  }
}
