// ==========================================================================
//   SITE HEADER
// ==========================================================================

header {

  #site-header {
    .social-men-wrapper {
      position: absolute;
      top: 20px;
      right: 20px;
      z-index: 3;
    }

    .region-header {
      padding: $gutter 0;

      .branding-wrapper {
        color: $white;
        display: flex;

        > * {
          color: $white;
        }
      }
    }

    .header-text {
      strong {
        font-family: $raleway;
        @include font-size(40px);
        line-height: 1.2;
        color: $white;
        @include font-weight(light);
        text-transform: uppercase;
        letter-spacing: 4px;
        margin-bottom: 0;
      }
    }
    .navigation-wrapper {
      #navigation-panel {}
    }

    // unique to hamburger-triggered mobile menu
    @include bp($desktop-nav, down) {
      //height: $mobile-header-height;
      //background-color: $primary-color;
      //padding: 0 $gutter;

      .region-header {
        //position: absolute;
        //top: $gutter*2;
        //left: 0;
        //right: 0;
        //padding: 20px;
        //background: $white;

        position: relative;
        padding: $gutter;
        background-color: $primary-color;
        color: $white;

        .branding-wrapper {
          flex-direction: column;

          .header-text {
            padding: $gutter 0;
          }
        }

        .logo {
          //margin: 0 auto;
        }
      }

      .navigation-wrapper-desktop {
        display: none;
      }

      .navigation-wrapper {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        #navigation-panel {
          display: none;
          z-index: 500;
          //padding: $gutter 0;
          width: 100%;
          max-width: 360px;
          float: right;
          top: $mobile-trigger-height;
          background-color: $primary-color;
        }
      }

    }

    @include bp(medium, up) { // wide enough to ignore tablet compensations
      .region-header {
        position: relative;
        padding: $gutter*1.5 $gutter*2;
        background-color: $primary-color;
        color: $white;

        .branding-wrapper {
          flex-direction: row;
          align-items: center;

          .header-text {
            padding: 0 0 0 $gutter*2;
          }
        }
      }
      .navigation-wrapper {
        display: none;
      }

    }

    @include bp(tablet-menu, up) {
      .header-text {
        strong {
          @include font-size(60px);
        }
      }
    }

    // positioning the hamburger trigger
    #hamburger-navigation {
      display: block;
      position: absolute;
      top: 4px;
      right: $gutter;
      left: auto;
      bottom: auto;
      z-index: 999;

      @include bp($desktop-nav, up) {
        display: none;
      }
    }

  }
}

